extends ../layout/main

block variables
  - var templates = ["header", "footer", "sprite"];
  - var title = 'index';
//-   - var footerItem = [["О нас", "Новости", "Служба поддрежки", "Услуги"], ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"], ["Соглашения", "Сообщества", "Связь с нами"], "Получите специальное предложение и новости сервиса"];